[gmail]
email=email@gmail.com
client_id=123456789.apps.googleusercontent.com
client_secret=secret
refresh_token=big-token
tag=tag where gerrit emails are stored under

[gerrit]
username=your-username
